body {
  background: white;
}
.grid {
  display: grid;
  grid-template:
    "x1 x3 x3 x4 x5"
    "x2 x3 x3 x4 x5";
  grid-gap: 10px;
}
.tooltip {
display: none;
}
.box :hover + .tooltip {
  display: block;
  color: black;
}
.item{
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.diamond {
  width: 20px;
  height: 20px; 
  background: white;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.diamond p {
  position: relative;
  transform: rotate(45deg);
  left: 25%;
  top: 25%;
}
.item:nth-child(1) {
  background-color: blueviolet;
  grid-area: x1;
}
.item:nth-child(2) {
  background-color: orange;
  grid-area: x2;
}
.item:nth-child(3) {
  background-color: greenyellow;
  grid-area: x3;
}
.item:nth-child(4) {
  background-color: aquamarine;
  grid-area: x4;
}
.item:nth-child(5) {
  background-color: magenta;
  grid-area: x5;
}
